<section class="content-header">
  <h1>
    New salesReturn
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>
        Home</a>
    </li>
    <li>
      <a href="#">salesReturn</a>
    </li>
    <li class="active">New salesReturn</li>
  </ol>
</section>

<%= render 'form', salesReturn: @salesReturn %>
