<section class="content-header">
  <h1>
    Editing Stock
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" >  <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-dashboard"></i>
        Home</a>
    </li>
    <li>
      <a href="#">stock</a>
    </li>
    <li class="active">Editing stock</li>
  </ol>
</section>


<%= render 'form', stock: @stock %>
