<section class="content-header">
  <h1>
    Dashboard
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<section class='content'>
  <div class='row'>
    <div class="col-lg-4">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= @stats[:sales_count] %></h3>
          <p>Sales</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= @stats[:sales_return_count] %></h3>
          <p>Sale Returns</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= @stats[:users_count] %></h3>
          <p>Customers</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class='box box-primary'>
        <div class="box-header with-border">
          <h3 class="box-title">Sales Chart</h3>
        </div>
        <div class='box-body'>
          <div id="sales_chart" style="height: 250px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  new Morris.Line({
  element: 'sales_chart',
  data: JSON.parse('<%= sales_graph %>'),
  xkey: 'year',
  ykeys: ['total_sales'],
  labels: ['Total Sales']
});
</script>