<section class="content-header">
  <h1>
    Editing Supplier
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" >  <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-dashboard"></i>
        Home</a>
    </li>
    <li>
      <a href="#">supplier</a>
    </li>
    <li class="active">Editing supplier</li>
  </ol>
</section>


<%= render 'form', supplier: @supplier %>
