<section class="content-header">
  <h1>
    New Supplier
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to raw('<i class="fa fa-dashboard"></i> Home'), root_path %>
      <li class="active">
        <%= link_to 'Supplier' %>
      </li>
    </ol>
  </section>

  <%= render 'form', supplier: @supplier %>
