<section class="content-header">
  <h1>
    New Supplier
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>
        Home</a>
    </li>
    <li>
      <a href="#">supplier</a>
    </li>
    <li class="active">New supplier</li>
  </ol>
</section>

<%= render 'form', supplier: @supplier %>
