<section class="content-header">
  <h1>
    Editing Sale
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" >  <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-dashboard"></i>
      Home</a>
    </li>
    <li>
      <a href="#">sale</a>
    </li>
    <li class="active">Editing sale</li>
  </ol>
</section>


<%= render 'form', sale: @sale %>
