<div class="container">
    <div class="row">
      <div class="col-md-12">
        <footer class="main-footer">
        <strong>Stock Manager.</strong> All rights reserved.
        </footer>
      </div>
    </div>
  </div>
